* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 500px;
}

#container {
  margin: 40px auto;
  width: 80%;
  max-width: 800px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
}

.grid-item{
  flex-grow: 0;
  flex-shrink: 1;
  border: 1px black solid;
  background-color: aquamarine;
}

.grid-item.hovered-grid-item {
  background-color: orange;
}